 1. What are data structures, and why are they important?

 Ans-
   Data structures are a fundamental concept in computer science that organize and store data in a way that makes it easy to access and manipulate.

   They are important because they:

 Improve code performance

 Improve code readability

 Improve memory management

 Make it easier to manage large amounts of data

 2. Explain the difference between mutable and immutable data types with examples?

 Ans-
 Mutable data types are those whose values can be changed, whereas immutable data types are ones in which the values can’t be changed.

 3. What are the main differences between lists and tuples in Python?
 Ans-
 The main difference between lists and tuples in Python is that lists are mutable, while tuples are immutable.
 * Lists can be modified, while tuples cannot.

 4. Describe how dictionaries store data.

 Ans-
 Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered, changeable and do not allow duplicates.

5. Why might you use a set instead of a list in Python?
Ans-
One of the main advantages of using sets in Python is that they are highly optimized for membership tests. For example, sets do membership tests a lot more efficiently than lists.
6. What is a string in Python, and how is it different from a list?

Ans-
A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

7. How do tuples ensure data integrity in Python?

Ans-
Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability.
8. What is a hash table, and how does it relate to dictionaries in Python?
Ans-
In Python, dictionaries are built using hash tables, which are data structures that store key-value pairs:

*How hash tables work

A hash table uses a hash function to compute an index, or hash code, for each key-value pair. This index points to a bucket or slot in an array where the value is stored.

*How hash tables relate to dictionaries

Python's built-in dictionary data type implements hash tables and hash maps. The keys in a Python dictionary are generated using a hashing function.
9. Can lists contain different data types in Python?

Ans-
A list can also contain a mix of Python types including strings, floats, and booleans.
10. Explain why strings are immutable in Python.

Ans-
 Strings in Python are “immutable” which means they can not be changed after they are created. Some other immutable data types are integers.
 11. What advantages do dictionaries offer over lists for certain tasks?
 Ans-
 It is more efficient to use dictionaries for the searching of elements as it can be carried out in a much faster manner.
 12. Describe a scenario where using a tuple would be preferable over a list.

 Ans-  If a data is needed in a program which is not supposed to be changed, then it is better to put it in 'tuples' than in 'list'.
 13. How do sets handle duplicate values in Python?

 Ans- *Using the set() Method. One straightforward way to remove duplicates from a list in Python is by converting the list to a set.
*Using List Comprehension.
14. How does the “in” keyword work differently for lists and
    dictionaries?

Ans-
Dictionary values can be duplicated like a list. The execution time of in for values() is about the same as for lists. Key-value pairs are unique.
15. Can you modify the elements of a tuple? Explain why or why not.
Ans-
Tuples, unlike lists, are immutable. This means that once a tuple's elements have been allocated, they cannot be modified. However, if the element is a changeable data type, such as a list, its nested components can be altered. If you attempt to alter a tuple element, you will receive a TypeError error.
16. What is a nested dictionary, and give an example of its use case?
Ans-
In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary.
ex- nested_dict = { 'dictA': {'key_1': 'value_1'},
                'dictB': {'key_2': 'value_2'}}
17. Describe the time complexity of accessing elements in a dictionary.
Ans-
Similar to the insertion operation, dictionary lookups in Python also have an average time complexity of O(1). This means that, on average, the time taken to retrieve an element from a dictionary is constant and does not depend on the size of the dictionary.

18. In what situations are lists preferred over dictionaries?
Ans-
Lists can duplicate values since each values have unique index. Dictionaries cannot contain duplicate keys but can contain duplicate values since each value has unique key
19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans-
 Python dictionary is unordered. It means that you can't access the dictionary element based on it's position value.
This provides much quicker access to unordered data than searching through the data set using a linear search, and will also outperform a binary search key.
20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans-
Lists and Dictionaries in Python are inbuilt data structures that are used to store data. Lists are linear in nature whereas dictionaries stored the data in key-value pairs.

In [1]:
# Practical Questions
# 1. Write a code to create a string with your name and print it.
my_name = "Ved Prakash"
print(my_name)

Ved Prakash

In [2]:
# 2.Write a code to find the length of the string "Hello World".
string = "Hello World"
print(len(string))

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
print(string[:3])

Pyt

In [4]:
# 4.Write a code to convert the string "hello" to uppercase.
string = "hello"
print(string.upper())

HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [8]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [9]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [10]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [11]:
# 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple = (10, 20, 30)
print(tuple)

(10, 20, 30)

In [12]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple = ('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [13]:
#13.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple = (1, 2, 3, 2, 4, 2)
print(tuple.count(2))

3

In [14]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [16]:
#15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple = ('apple', 'orange', 'banana')
print('banana' in tuple)

True

In [17]:
#16.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set = {1, 2, 3, 4, 5}
print(set)

{1, 2, 3, 4, 5}

In [18]:
#17.Write a code to add the element 6 to the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [19]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple = (10, 20, 30)
print(tuple)

(10, 20, 30)

In [20]:
#19.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple = ('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [21]:
#20.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple = (1, 2, 3, 2, 4, 2)
print(tuple.count(2))

3

In [22]:
#21.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [23]:
#22.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple = ('apple', 'orange', 'banana')
print('banana' in tuple)

True

In [24]:
#23.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set = {1, 2, 3, 4, 5}
print(set)

{1, 2, 3, 4, 5}

In [25]:
#24.Write a code to add the element 6 to the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}